@*@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>*@
@model IT_Dnistro.ViewModels.CreateUserViewModel
@*@model DataBase.User*@
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <form asp-action="Create" asp-controller="Users">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName" class="control-label">Ім'я</label>
            <input type="text" asp-for="UserName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">Email</label>
            <input type="text" asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label">Пароль</label>
            <input type="text" asp-for="Password" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="control-label">Номер телефону</label>
            <input type="number" asp-for="Phone" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-outline-secondary" />
        </div>
    </form>