<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="~/Admin/Admin">INTITA/></a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Dnictro">Дністер</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Carpaty">Карпати</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Scandinavia">Скандинавія</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon"></span>Administrator</a></li>
                    <li><a href="#"><span class="glyphicon"></span>Vasya</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
