<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/css/stylesAdminLayout.css" rel="stylesheet">

</head>
<body>
    <!-- Page Wrapper -->
    <div class="wrapper">

        <nav id="sidebar">
            <!-- Sidebar -->
            <div class="sidebar-header">
                <img class="logo" src="~/images/logoAdmin.png" alt="">
            </div>

            <ul class="list-unstyled">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="True" class="dropdown-toggle">
                        <img src="~/icons/suitcase.png" class="admin-icons" alt="">
                        <span class="span-left">Тур</span>
                        <img src="~/icons/Vector.png" class="admin-icons vector-down" alt="">
                    </a>
                    <ul class="collapse show list-unstyled" id="homeSubmenu">
                        @await Component.InvokeAsync("NavigationMenu")
                    </ul>
                </li>
                <li class="bottom-line"></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="otstup-top">
                    <a asp-controller="Dashboard" asp-action="GetParticipants">
                        <svg width="18" height="17" viewBox="0 0 18 17" fill="none">
                            <g clip-path="url(#clip0)">
                                <path d="M14.6267 15.8115H12.9957L12.54 14.499H6.08843L5.63268 15.8115H4.00171C3.72665 15.8115 3.50366 16.0214 3.50366 16.2803C3.50366 16.5391 3.72665 16.749 4.00171 16.749C4.18562 16.749 14.5069 16.749 14.6267 16.749C14.9018 16.749 15.1248 16.5391 15.1248 16.2803C15.1248 16.0214 14.9018 15.8115 14.6267 15.8115Z" />
                                <path d="M16.3201 0.749023H2.30835C1.48448 0.749023 0.814209 1.37987 0.814209 2.15527V10.0303H17.8142V2.15527C17.8142 1.37987 17.1439 0.749023 16.3201 0.749023Z" />
                                <path d="M0.814209 10.9678V12.1553C0.814209 12.9307 1.48448 13.5615 2.30835 13.5615H16.3201C17.1439 13.5615 17.8142 12.9307 17.8142 12.1553V10.9678H0.814209ZM9.31421 12.7334C9.03915 12.7334 8.81616 12.5235 8.81616 12.2646C8.81616 12.0058 9.03915 11.7959 9.31421 11.7959C9.58926 11.7959 9.81226 12.0058 9.81226 12.2646C9.81226 12.5235 9.58926 12.7334 9.31421 12.7334Z" />
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect x="0.814209" y="0.749023" width="17" height="16" rx="2" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <span class="span-left">Дошка</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="GallerySlider" asp-action="Index">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
                            <g clip-path="url(#clip0)">
                                <path d="M10.7798 7.86558C11.6097 8.69548 11.6097 10.041 10.7798 10.8709C9.94992 11.7008 8.60441 11.7008 7.77452 10.8709C6.94463 10.041 6.94463 8.69548 7.77452 7.86558C8.60441 7.03569 9.94992 7.03569 10.7798 7.86558Z" />
                                <path d="M15.6523 3.52449H14.184L13.121 1.39941H5.43267L4.37064 3.52553L2.90447 3.52814C1.73559 3.53023 0.784061 4.48277 0.783052 5.65217L0.777344 14.1493C0.777344 15.3213 1.73041 16.2749 2.90242 16.2749H15.6523C16.8243 16.2749 17.7774 15.3218 17.7774 14.1498V5.64953C17.7773 4.47755 16.8243 3.52449 15.6523 3.52449ZM9.27708 13.6185C6.93358 13.6185 5.02693 11.7119 5.02693 9.3684C5.02693 7.0249 6.93358 5.11825 9.27708 5.11825C11.6206 5.11825 13.5272 7.0249 13.5272 9.3684C13.5272 11.7119 11.6206 13.6185 9.27708 13.6185Z" />
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect x="0.777344" y="0.336914" width="17" height="17" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <span class="span-left">Галерея</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="TourTypes" asp-action="Index">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none">
                            <g clip-path="url(#clip0)">
                                <path d="M13.4262 4.01669C13.357 4.22313 13.2398 4.41313 13.0865 4.56647L12.5802 5.07275C12.4928 5.16019 12.4429 5.28103 12.4429 5.40416V5.95347C12.4429 6.2121 12.653 6.42222 12.9116 6.42222C13.6871 6.42222 14.3179 7.05304 14.3179 7.82848V8.54488C14.3179 8.76185 14.2666 8.97929 14.1696 9.17338L14.0093 9.49382C13.9036 9.70485 13.9883 9.88292 14.0299 9.94976C14.0711 10.0166 14.1924 10.1722 14.4287 10.1722H16.0922C16.1741 9.71485 16.2241 9.24651 16.2241 8.76598C16.2241 6.51835 15.2538 4.48913 13.752 3.03906L13.4262 4.01669Z" />
                                <path d="M4.31809 6.37479C4.21096 6.56935 4.28193 6.82523 4.48015 6.95707L5.45428 7.60663C5.44237 6.87101 5.85849 6.1546 6.58952 5.77923C6.7264 5.70919 6.81796 5.52976 6.81796 5.33244V5.0166C6.81796 4.24116 7.44877 3.61035 8.22421 3.61035H8.78999C8.9429 3.61035 9.08206 3.53895 9.17087 3.41441C9.26012 3.28991 9.28302 3.13563 9.23359 2.99054L8.49181 0.780164C8.40221 0.777195 8.31452 0.766602 8.22418 0.766602C5.66437 0.766602 3.35759 2.01601 1.89868 3.89766L3.39706 4.26451C4.31712 4.4931 4.77921 5.53354 4.31809 6.37479Z" />
                                <path d="M9.93333 3.95995C9.67011 4.32798 9.24258 4.54773 8.78983 4.54773H8.22405C7.96543 4.54773 7.7553 4.75786 7.7553 5.01648V5.33233C7.7553 5.88073 7.46555 6.38336 7.01739 6.61314C6.47264 6.89283 6.24377 7.50761 6.49646 8.01252L6.63893 8.2977H7.17577C8.00065 8.2977 8.74271 8.75639 9.11211 9.4943C9.3213 9.9127 9.74199 10.1727 10.2098 10.1727H11.0366C11.2956 10.1727 11.5053 10.3824 11.5053 10.6415V11.579C11.5053 12.2107 11.2576 12.803 10.8086 13.2466C10.085 13.9608 9.38796 15.432 8.9008 16.7322C12.1803 16.4545 14.932 14.1561 15.8712 11.1102H14.4286C13.9374 11.1102 13.4902 10.8607 13.232 10.4432C12.9743 10.0258 12.9509 9.51398 13.1706 9.07498L13.3309 8.75455C13.3634 8.69002 13.3803 8.61767 13.3803 8.54536V7.82895C13.3803 7.57033 13.1702 7.3602 12.9116 7.3602C12.1361 7.3602 11.5053 6.72939 11.5053 5.95395V5.40464C11.5053 5.02927 11.6518 4.67589 11.9173 4.41039L12.4236 3.90411C12.4749 3.85283 12.5138 3.7892 12.5371 3.72008L12.9811 2.38845C11.9801 1.63989 10.8006 1.09167 9.51599 0.880859L10.1206 2.6883C10.2666 3.1163 10.1966 3.59189 9.93333 3.95995Z" />
                                <path d="M7.44946 16.7274C7.0044 15.7962 6.81787 13.8733 6.81787 13.0513C6.81787 12.8316 6.73228 12.6251 6.57709 12.4699L6.01771 11.9105C5.83462 11.7274 5.83462 11.4308 6.01771 11.2477L6.29696 10.9684C6.54781 10.7176 6.60962 10.3358 6.45125 10.019L5.98546 9.08748L3.96009 7.73707C3.36087 7.33791 3.15671 6.54138 3.4959 5.92341C3.66 5.62591 3.49853 5.25595 3.16996 5.17407L1.33793 4.72363C0.63509 5.9107 0.224121 7.28998 0.224121 8.7666C0.224121 12.8992 3.41778 16.3364 7.44946 16.7274Z" />
                                <path d="M10.5678 11.5791V11.1104H10.2099C9.38499 11.1104 8.64292 10.6517 8.27352 9.91376C8.06433 9.49535 7.64364 9.23535 7.1758 9.23535H7.10758L7.28977 9.59973C7.61799 10.2562 7.50446 11.0417 7.01099 11.5782L7.23986 11.8071C7.57224 12.1394 7.75533 12.5812 7.75533 13.0513C7.75533 13.8125 7.91417 15.2194 8.1728 16.015C8.60127 14.9397 9.30027 13.418 10.1499 12.5798C10.4195 12.3134 10.5678 11.9581 10.5678 11.5791Z" />
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect x="0.224121" y="0.749023" width="16" height="16" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <span class="span-left">Мої тури</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="TourPhotoBackground" asp-action="Index">
                        <i class="fas fa-arrow-circle-down"></i>
                        <span class="span-left">Background</span>
                    </a>
                </li>
                <li class="bottom-line"></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="otstup-top">
                    <a asp-controller="Users" asp-action="Index">
                        <i class="fas fa-user-circle"></i>
                        <span class="span-left">Користувачі</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid div-left">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-justify"></i>
                    </button>
                    
                    <div class="justify-content-end nav-right">
                        <div class="justify-content-center">
                            <img src="~/images/Admin.jpg" class="rounded-circle foto" alt="">
                        </div>
                        <div class="marginRight">
                            <p>Добровольський Констянтин</p>
                            <p>Адміністратор</p>
                        </div>

                        <div>
                            <a class="text-white" href="#" data-toggle="modal" data-target="#logoutModal">
                                <img class="together" src="~/icons/Exit.png" alt="">
                                Вихід
                            </a>
                        </div>
                    </div>
                    
                </div>
            </nav>
           

            <!-- Begin Page Content -->
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- End of Content Wrapper -->
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Готові вийти?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Нажміть "Вихід" нижче, якщо ви готові закінчити поточну сесію.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Відміна</button>
                    <a class="btn btn-primary" href="../Account/Login">Вихід</a>
                </div>
            </div>
        </div>
    </div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
</body>
</html>
