@model IEnumerable<DataBase.TourType>

@foreach (var category in Model)
{
    <li>
        @Html.ActionLink(@category.TourTypeName, "tour-info", "FileUploadApp",
            new { idTour = @category.Id })
    </li>
}
