@model IEnumerable<string>

@foreach (string tourType in Model)
{
    @*<a class="btn btn-block
       @(tourType == ViewBag.SelectedCategory ? "btn-primary": "btn-secondary")"
       asp-action="List"
       asp-controller="Product"
       asp-route-category="@tourType">
        @tourType
    </a>*@
    <li>
        <a class="a-left" 
           @*asp-action="List"
           asp-controller="Product"
           asp-route-category="@tourType"*@
           >@tourType</a>
    </li>
}
