@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin board</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="~/css/styleAdminMainPage.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="header"><h1>Дошка</h1></div>
            <div class="row justify-content-between">
                <div class="frame col-3">
                    <h2>Всього учасників</h2>
                    <p>56</p>
                    <div class="round" style="background: #F2B701;">
                        <object type="image/svg+xml"
                                data="~/icons/participants.svg">
                        </object>
                    </div>
                </div>
                <div class="frame col-3">
                    <h2>Всього відвідувачів</h2>
                    <p>121</p>
                    <div class="round" style="background: #09A275;">
                        <object type="image/svg+xml"
                                data="~/icons/participants.svg">
                        </object>
                    </div>
                </div>
                <div class="frame col-3">
                    <h2>Залишилось до старту</h2>
                    <p>7 днів</p>
                    <div class="round" style="background: #6D04AD;">
                        <object type="image/svg+xml"
                                data="~/icons/participants.svg">
                        </object>
                    </div>
                </div>
                <div class="frame col-3">
                    <h2>Нових учасників за тиждень</h2>
                    <p>17</p>
                    <div class="round" style="background: #0F4FA8;">
                        <object type="image/svg+xml"
                                data="~/icons/participants.svg">
                        </object>
                    </div>
                </div>
            </div>
            <div class="block row justify-content-between">
                <div class="participants col-12">
                    <h2>Таблиця учасників</h2>
                    <div class="button"></div>
                </div>
            </div>
        </div>
    </body>
</html>
