@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main admin page</title>
    <link rel="stylesheet" type="text/css" href="~/css/styleAdminMainPage.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h1>Дошка</h1>
        </div>
        <div class="main">
            <div class="container">
                <div class="left-block">
                    <div class="double-block">
                        <div class="total-participant">
                            <h4>Всього учасників</h4>
                            <p>56</p>
                        </div>
                        <div class="total-visitor">
                            <h4>Всього відвідувачів</h4>
                            <p>121</p>
                        </div>
                    </div>
                    <div class="tours">Доступні тури</div>
                </div>
                <div class="right-block">
                    <div class="tour-name">
                        <p>Наша подорож</p>
                    </div>
                    <div class="tour-description">
                        <p>Вінницька IT Академія відкриває для всіх бажаючих простори високогірного регіону.
                        Ми підготували для вас цікаву і насичену програму. Беріть з собою друзів і гайда підкорювати вершини!
                        Свіже гірське повітря, захоплюючі пейзажі, гарна компанія - все для любителів активного відпочинку.
                        Ми побачимо краєвиди, від яких точно перехопить подих. А вашим фотографіям на фоні прекрасних гір
                        будуть заздрити всі знайомі. Пізнаємо рідний край,  проникаємось любов'ю до нього ;-) у приємній
                        дружній компанії.</p>
                    </div>
                </div>
            </div>
            <div class="space"> </div>
            <div class="participant">
                <p>Таблиця учасників</p>
            </div>
        </div>
    </div>
</body>
</html>
