@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="~/css/StyleAdminImages.css" />
</head>
<body>

    <div class="gallery_container">
        <div class="menu">
            <a href="#" class="elementOfMenu currentMenu">
                <span id="current">
                    IT DnistrO
                </span>
            </a>
            <a href="#" class="elementOfMenu">
                <span>
                    IT Carpaty
                </span>
            </a>
            <a href="#" class="elementOfMenu">
                <span>
                    IT Scandinavia
                </span>
            </a>
        </div>
    <div class="images">
        <div class="first_images_container">
            <div class="image">
                <div class="photo">
                    <img src="~/images/delete.png" alt="del">
                </div>
                <div class="photo_name">
                    <p> photo.jpg </p>
                </div>
            </div>
            <div class="image">
                <div class="photo">
                    <img src="~/images/delete.png" alt="del">
                </div>
                <div class="photo_name">
                    <p> photo2.jpg </p>
                </div>
            </div>
            <div class="image">
                <div class="photo">
                    <img src="~/images/delete.png" alt="del">
                </div>
                <div class="photo_name">
                    <p> photo3.jpg </p>
                </div>
            </div>
            <div class="image">
                <div class="photo">
                    <img src="~/images/delete.png" alt="del">
                </div>
                <div class="photo_name">
                    <p> photo4.jpg </p>
                </div>
            </div>
        </div>

        <div class="first_images_container">
            <div class="image">
                <div class="photo">
                    <img src="~/images/delete.png" alt="del">
                </div>
                <div class="photo_name">
                    <p> photo5.jpg </p>
                </div>
            </div>
            <div class="image">
                <div class="photo">
                    <img src="~/images/delete.png" alt="del">
                </div>
                <div class="photo_name">
                    <p> photo6.jpg </p>
                </div>
            </div>
            <div class="image">
                <div class="photo">
                    <img src="~/images/delete.png" alt="del">
                </div>
                <div class="photo_name">
                    <p> photo7.jpg </p>
                </div>
            </div>
            <div class="plus_image">
                <div class="add_button">
                    <img src="~/images/plus.png" alt="plus">
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>