@model IEnumerable<DataBase.TourPhoto>

@{
    ViewData["Title"] = "Добавление и удаление файла";
}
<h3>Выберите файл для загрузки</h3>
<form asp-action="AddFile" asp-controller="FileUploadApp" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Загрузить" />
</form>

<h3>Все файлы</h3>
@foreach (var f in Model)
{
    <p>
        <img src="@Url.Content("~/images/Scandinavia/" + f.PhotoLink)">
        <form>
            <input id ="@f.Id" type="hidden" asp-for="@f.Id" />
            <h1>@f.Id</h1>
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index"></a>
        </form>
    </p>
}