@model DataBase.TourType

@{
    ViewData["Title"] = "Створення туру";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br/>
<h4><b>Створення туру</b></h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TourTypeName" class="control-label">Назва туру</label>
                <input asp-for="TourTypeName" class="form-control" />
                <span asp-validation-for="TourTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourTypeTagName" class="control-label">Тег туру</label>
                <input asp-for="TourTypeTagName" class="form-control" />
                <span asp-validation-for="TourTypeTagName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourTypeDescription" class="control-label">Опис туру</label>
                <input asp-for="TourTypeDescription" class="form-control" />
                <span asp-validation-for="TourTypeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourDateFrom" class="control-label">Дата туру з</label>
                <input asp-for="TourDateFrom" class="form-control" />
                <span asp-validation-for="TourDateFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TourDateTo" class="control-label">Дата туру до</label>
                <input asp-for="TourDateTo" class="form-control" />
                <span asp-validation-for="TourDateTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-sm btn-light">Повернутися до списку</a>
</div>

