* {
    box-sizing: border-box;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


.block1 {
    background-image: url("../images/7.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: fit-content;
    width: 100%;
}
.container80 {
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
}
h1 {
    font-size: 26pt;
    font-family: "Arial", sans-serif;
    color: rgb(248, 248, 248);
    text-align: center;
}
h2 {
    font-size: 16pt;
    font-family: "Bahnschrift", sans-serif;
    color: rgb(28, 73, 135);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}
.add_separator {
    border-right: 2px solid #666699;
    height: 40px;
}

.firstHeader {
    margin-top: 12vh;
}
header {
    width: 100%;
    position: relative;
    font-size: 70%;
    font-family: "Mariad Pro", sans-serif;
    color: rgb(248, 248, 248);
    text-align: center;
    height: 0;
    z-index: 3;
}
.header {
    background-image: url("../images/heder2.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    padding: 0;
    height: 10%;
    width: 100%;
    z-index: 2;
}
.headerBackdown {
    padding-top: 25vh;
}
.logo {
    width: 10vw;
    height: auto;
}
.row a {
    text-decoration: none;
    color: rgb(248, 248, 248);
    text-align: center;
    vertical-align: bottom;
    font-family: "Bahnschrift", sans-serif;
    font-size: 9pt;
    margin-top: 2vh;
}
.row a:hover{
    color: rgb(29, 73, 136);
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
div.col-2 {
    padding-top: 1.5%;
    margin-right: -1.5%;
    text-align: center;
}
.socialMedia {
    position: relative;
    left: 91%;
    top: -95px;
    width: 8%;
    margin: 0;
}
.fa {
    padding: 4px;
    font-size: 15px;
    width: 22px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 50%;
    background: #333f59;
    color: white;
}

.button-container {
    padding-top: 12px;
}

.button4 {
    background-color: #f5f8f5;
    border-radius:20px;
    cursor:pointer;
    color:black !important;
    font-size: 70%;
    font-weight: 500;
    font-family: "Bahnschrift", sans-serif;
    text-align: center;
    text-decoration:none;
    position: relative;
    padding:7px 30px !important;
}
.button4:hover {
    background-color:#2c5a9d;
}
.button4:active {
    background-color:#143c74;
}
.blue {
    color: rgb(169, 191, 202);
}
.white {
    color: rgb(255, 255, 255);
}
h3 {
    font-size: 13pt;
    font-family: "Arial", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.block2 {
    background-image: url("../images/8.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: fit-content;
    width: 100%;
    margin-top: -15vh;
    text-align: center;
}
p {
    font-size: 8pt;
    font-family: "Bahnschrift", sans-serif;
    color: rgb(29, 73, 136);
    text-align: justify;
}
.ImgCloud1 {
    width: 30vw;
    height: auto;
    float: right;
    margin-top: -72vh;
    position: relative;
    z-index: 1;
    display: none;
}
.ImgCloud2 {
    width: 50vw;
    height: auto;
    float: left;
    margin-top: -3vh;
    position: relative;
    z-index: 1;
    display: none;
}


.block3 {
    background-image: url("../images/3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: fit-content;
    width: 100%;
    margin-top: -12vh;
    text-align: center;
    font-family: "Bahnschrift", sans-serif;
}
.secondHeader {
    margin-top: 4vh;
}
.content-title {
    text-transform: uppercase;
    font-size: 20pt;
    text-align: center;
    margin-bottom: 25px;
}
.svg-icon {
    height: 40px;
    width: 40px;
    fill: #1d4988;
}
.content h3 {
    padding: 7px 0 7px 0;
    text-align: center;
    font-size: 11pt;
}
.content ul {
    margin-left: 1vw !important;
    line-height: 1.4;
    text-align: center;
}
.content li {
    font-size: 8pt;
    color: black;
}
.col-sm-3 li {
    padding-left: 1vw !important;
}
.ImgCloud3 {
    width: 50vw;
    height: auto;
    float: right;
    display: none;
}
.ImgCloud4 {
    width: 50vw;
    height: auto;
    float: left;
    display: none;
}


.block4 {
    background-image: url("../images/9.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: fit-content;
    margin-top: -45vh;
    width: 100%;
    position: relative;
    z-index: -1;
    text-align: center;
    font-family: "Bahnschrift", sans-serif;
}
.thirdHeader {
    padding-top: 28vh;
    color: #f5f8f5;
}
.white li {
    font-size: 7.5pt;
    color: white;
}
.night {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}

.block5 {
    background-image: url("../images/10.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: fit-content;
    width: 100%;
    position: relative;
    margin-top: -25vh;
}
.forthHeader {
    margin-top: 13vh;
    margin-bottom: 5vh;
}
.slider img {
    width: 100%;
    max-height: 250px;
    height: auto;
}
.project__next img, .project__prev img{
    width:8vw;
    height:auto;
    padding-top: 15vh;
}
.project__next img {
    margin-left: 27px !important;
}

.project__prev img {
    float: right;
    margin-right: 27px !important;
}
.invisible {
    opacity: 0;
}

.block6 {
    background-image: url("../images/11.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 42vh;
    position: relative;
    z-index: -2;
    padding: 0;
    margin-top: -12vh;
}
footer {
    width: 100%;
    position: relative;
    font-size: 70%;
    font-family: "Mariad Pro", sans-serif;
    color: rgb(248, 248, 248);
    text-align: center;
    height: 0;
    padding-top: 5vh;
    z-index: 3;
}

.footer-phone-email {
    padding-top: 8px;
}

.social-media-container {
    padding-top: 20px;
}

.social-icon {
    height: auto;
    width: 5vw;
}
.footerBlock1 {
     padding: 10vh;
 }
.footerBlock2 {
    padding: 8vh;
}
.footerBlock3 {
    padding: 17vh;
}
.footerBlock4 {
    padding: 17vh;
}
.footerBlock5 {
    padding: 30vh;
}
.container {
    margin-left: auto !important;
    margin-right: auto !important;
}
.container1 {
    width: 80%;
}

@media (min-width: 576px) and (max-width: 799px) {
    .ImgCloud1, .ImgCloud2, .ImgCloud3, .ImgCloud4, .ImgCloud5 {
        display: flex;
    }
    .ImgCloud1 {
        width: 15vw;
        top: 20vh;
    }
    .ImgCloud2 {
        top: -2vh;
    }
    .ImgCloud3 {
        display: none;
    }
    .ImgCloud4 {
        width: 45vw;
        top: -2vh;
    }
    .firstHeader {
        margin-top: 20vh;
    }
    .secondHeader {
        margin-top: 15vh;
    }
    .thirdHeader {
        padding-top: 30vh;
    }
    .forthHeader {
        margin-top: 20vh;
    }
    .block4 {
        margin-top: -30vh;
    }
    .button4 {
        top: 2vh;
    }
    footer {
        padding-top: 20vh;
    }
    .content ul {
        margin-left: 4vw !important;
        line-height: 1.4;
        text-align: justify;
    }
    .container {
        width: 70%;
    }
    .footerBlock3 {
        padding: 1vh;
    }
    .footerBlock4 {
        padding: 30vh;
    }
    .footerBlock5 {
        padding: 30vh;
    }
    .slider img {
        width: 100%;
        max-height: 250px;
        height: auto;
    }
    .project__next img, .project__prev img{
        width:5vw;
        height:auto;
        padding-top: 12vh;
    }
    .slick-slide {
        padding-top:1%;
    }
    .slick-center {
        padding-top:0;
    }
    .slick-center img {
        width: 150%;
        left: -8vh;
        height: auto;
        position: relative;
        z-index: 2000;
    }.content li {
         font-size: 8pt;
     }
    .social-icon {
        height: auto;
        width: 4vw;
    }
    .logo {
        width: 8vw;
        height: auto;
    }
}
@media (min-width: 800px) and (max-width: 1000px) {
    .ImgCloud1, .ImgCloud2, .ImgCloud3, .ImgCloud4, .ImgCloud5 {
        display: flex;
    }
    .ImgCloud1 {
        width: 12vw;
        top: 20vh;
    }
    .ImgCloud2 {
        width: 40vw;
    }
    .ImgCloud3 {
        width: 20vw;
        top: -80vh;
        position: relative;
        z-index: 6;
    }
    .ImgCloud4 {
        width: 45vw;
    }
    .firstHeader {
        margin-top: 20vh;
    }
    .secondHeader {
        margin-top: 15vh;
    }
    .thirdHeader {
        padding-top: 30vh;
    }
    .forthHeader {
        margin-top: 20vh;
    }
    .block4 {
        margin-top: -30vh;
    }
    .button4 {
        top: 2vh;
    }
    footer {
        padding-top: 20vh;
    }
    .content ul {
        margin-left: 4vw !important;
        line-height: 1.4;
        text-align: justify;
    }
    .container {
        width: 65%;
    }
    .footerBlock1 {
        padding: 15vh;
    }
    .footerBlock3 {
        padding: 1vh;
    }
    .footerBlock4 {
        padding: 30vh;
    }
    .footerBlock5 {
        padding: 32vh;
    }
    .slider img {
        width: 100%;
        max-height: 250px;
        height: auto;
    }
    .project__next img, .project__prev img{
        width:4vw;
        height:auto;
        padding-top: 17vh;
    }
    .slick-slide {
        padding-top:0.9%;
    }
    .slick-center {
        padding-top:0;
    }
    .slick-center img {
        width: 135%;
        left: -8vh;
        height: auto;
        position: relative;
        z-index: 2000;
    }.content li {
         font-size: 9pt;
     }
    .social-icon {
        height: auto;
        width: 2vw;
    }
    .logo {
        width: 7vw;
        height: auto;
    }
}

@media (min-width: 1001px) and (max-width: 1395px) {
    .ImgCloud1, .ImgCloud2, .ImgCloud3, .ImgCloud4, .ImgCloud5 {
        display: flex;
    }
    .ImgCloud1 {
        width: 12vw;
        top: 20vh;
    }
    .ImgCloud2 {
        width: 40vw;
    }
    .ImgCloud3 {
        width: 20vw;
        top: -80vh;
        position: relative;
        z-index: 6;
    }
    .ImgCloud4 {
        width: 45vw;
    }
    .firstHeader {
        margin-top: 20vh;
        margin-bottom: 5vh;
    }
    .secondHeader {
        margin-top: 15vh;
        margin-bottom: 10vh;
    }
    .thirdHeader {
        padding-top: 30vh;
    }
    .forthHeader {
        margin-top: 20vh;
    }
    .block4 {
        margin-top: -30vh;
    }
    .button4 {
        top: 2vh;
    }
    footer {
        padding-top: 20vh;
    }
    .content ul {
        margin-left: 4vw !important;
        line-height: 1.4;
        text-align: justify;
    }
    .container {
        width: 60%;
    }
    .footerBlock1 {
        padding: 15vh;
    }
    .footerBlock3 {
        padding: 1vh;
    }
    .footerBlock4 {
        padding: 30vh;
    }
    .footerBlock5 {
        padding: 45vh;
    }
    .slider img {
        width: 100%;
        max-height: 350px;
        height: auto;
    }
    .project__next img, .project__prev img{
        width:3vw;
        height:auto;
        padding-top: 20vh;
    }
    .slick-slide {
        padding-top:0.75%;
    }
    .slick-center {
        padding-top:0;
    }
    .slick-center img {
        width: 135%;
        left: -8vh;
        height: auto;
        position: relative;
        z-index: 2000;
    }.content li {
         font-size: 9pt;
     }
    .social-icon {
        height: auto;
        width: 2vw;
    }
    .logo {
        width: 6vw;
        height: auto;
    }
    .block2 {
        margin-top: -18vh;
    }
    .block6 {
        margin-top: -15vh;
    }
    p {
        font-size: 10pt;
    }
    .block6 {
        margin-top: -15vh;
    }
}

@media (min-width: 1396px){
    .ImgCloud1, .ImgCloud2, .ImgCloud3, .ImgCloud4, .ImgCloud5 {
        display: flex;
    }
    .ImgCloud1 {
        width: 10vw;
        top: 25vh;
    }
    .ImgCloud2 {
        width: 35vw;
        top: 2vh;
    }
    .ImgCloud3 {
        width: 20vw;
        top: -40vh;
        position: relative;
        z-index: 6;
    }
    .ImgCloud4 {
        width: 40vw;
        top: 3vh;
    }
    .firstHeader {
        margin-top: 20vh;
        margin-bottom: 5vh;
    }
    .secondHeader {
        margin-top: 15vh;
        margin-bottom: 20vh;
    }
    .thirdHeader {
        padding-top: 30vh;
    }
    .forthHeader {
        margin-top: 20vh;
    }
    .block4 {
        margin-top: -30vh;
    }
    .button4 {
        top: 2vh;
    }
    footer {
        padding-top: 20vh;
    }
    .content ul {
        margin-left: 4vw !important;
        line-height: 1.4;
        text-align: justify;
    }
    .container {
        width: 60%;
    }
    .footerBlock1 {
        padding: 15vh;
    }
    .footerBlock3 {
        padding: -10vh;
    }
    .footerBlock4 {
        padding: 30vh;
    }
    .footerBlock5 {
        padding: 42vh;
    }
    .slider img {
        width: 100%;
        max-height: 450px;
        height: auto;
    }
    .project__next img, .project__prev img{
        width:3vw;
        height:auto;
        padding-top: 20vh;
    }
    .slick-slide {
        padding-top:0.75%;
    }
    .slick-center {
        padding-top:0;
    }
    .slick-center img {
        width: 135%;
        left: -8vh;
        height: auto;
        position: relative;
        z-index: 2000;
    }.content li {
         font-size: 9pt;
     }
    .social-icon {
        height: auto;
        width: 2vw;
    }
    .logo {
        width: 6vw;
        height: auto;
    }
    .block2 {
        margin-top: -18vh;
    }
    .block6 {
        margin-top: -15vh;
    }
    p {
        font-size: 12pt;
    }
    h1 {
        font-size: 36pt;
    }
    h2 {
        font-size: 24pt;
    }
    h3 {
        font-size: 18pt;
    }
    .content li {
        font-size: 12pt;
    }
    .row a {
        font-size: 12pt;
    }
    header, footer, .button4 {
        font-size: 85%;
    }
    .socialMedia {
        width: 5vw;
    }
}