body {
    background-color: #F5F5F5;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.header {
    height: 90px;
    padding-top: 30px;
}

    .header h1 {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #2A323C;
    }

.block {
    margin-top: 15px;
}

.frame {
    margin: 5px;
    height: 123px;
    min-width: 300px;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    flex: 1;
    padding-top: 18px;
    padding-left: 24px;
    position: relative;
}

    .frame h2 {
        max-width: 300px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #656B72;
    }

    .frame p {
        margin-top: 18px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 34px;
        color: #55A654;
    }

.round {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    /*background: #F2B701;*/
    padding-top: 16px;
    padding-left: 11px;
}

.participants {
    margin: 5px;
    padding-top: 22px;
    padding-left: 24px;
    height: 430px;
    flex: 1;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    position: relative;
}

    .participants h2 {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #656B72;
    }

.button {
    position: absolute;
    top: 17px;
    right: 24px;
    width: 142px;
    height: 34px;
    border-radius: 17px;
    background: #5CB45B;
}