@model IT_Dnistro.ViewModels.ParticipantsViewModel

@{
    ViewData["Title"] = "Створення учасника";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br/>
<h4>Створення учасника</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddParticipant">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label">ПІБ</label>
                <input asp-for="FullName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Телефон</label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="EMail" class="control-label"></label>
                <input asp-for="EMail" class="form-control" />
            </div>
            <div>
                <label asp-for="TourTypeId" class="control-label">Захід</label>
                <select asp-for="TourTypeId" class="form-control" asp-items="ViewBag.TourTypeId"></select>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-sm btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetParticipants" class="btn btn-sm btn-light">Повернутися до списку</a>
</div>

