@model IEnumerable<DataBase.TourType>

@foreach (var item in Model)
{
    <div class="col-auto top-otstup">
        @Html.ActionLink(@item.TourTypeName, "GetTourId", "Home",
            new { idTour = @item.Id })
    </div>
    <div class="col-1 separator"></div>
}